# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/FluStats.vcxproj.user
/FluStats.vcxproj.filters
/FluStats.vcxproj
/FluStats.sln
/Debug/FluStats.vcxproj.FileListAbsolute.txt
/Debug/FluStats.log
/Debug/FluStats.Build.CppClean.log
/Debug
/x64/Debug
/Release/FluStats.tlog
/Release
